@media screen and (max-device-width: 960px) { body { width: 100% }}

body {
    width: 50%; margin: 0 auto;
    font: normal 100%;
    padding: 2rpx;
}

header h1 { text-align: center; }
footer { text-align: center; font-size: 0.8em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
